@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
		margin: 0;
		font-family: 'ABeeZee', sans-serif;
	}

*,
*:before,
*:after {
	box-sizing: border-box;
}
	
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	color: #fff;
}
	
.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	
}
/* Header*/
.head {
	width: 100%;
	padding-top: 5px ;
    padding-bottom: 5px ; 
	position: fixed;
	background-color: rgba(255,255,255,0.2);
	z-index: 10000;
}
.head_in {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*NAV*/
.nav{
	font-size: 20px;
}
.nav_link {
	display: inline-block;
	vertical-align: top;
	position: relative;
	color: #000;
	text-decoration: none;
	padding: 5px 15px ;
	-webkit-transition: 0.8s; /* плавний перехід */
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.nav_link:hover{
	background-color: rgba(0,0,0,0.2);
	color: rgba(255,255,255);
}
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 130vh;
	background: url("../img/about.JPG") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.intro_in {
	width: 100%;
	max-width: 700px;
	margin: 0 auto 3%;
	text-align: center;
}
.intro_title {
	font-family: 'Kalam', cursive;
	color: #fff;
	font-size: 42px;
	font-weight: 100;
	line-height: 1;
}
/*SECTION*/
.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.sec_in {
	width: 100%;
	text-align: center;
}
.sec_ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.back {
	width: 50%;
	display: block;
}
.ul1_item {
	width: 100%;
	height: 80vh;
	background: url("../img/wing.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.ul2_item {
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../img/landscape.jpg")  center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: left;

}
.ul2_title {
	font-family: 'Fjalla One', sans-serif;
	color: #000;
	font-size: 46px;
	font-weight: 1;
	line-height: 0.5;
	padding: 14% 11% 3%;

}
.ul2_title:after {
	content: "";
	display: block;
	width: 137px;
	height: 1px;
	margin: 4% 3% 0 ;
	background-color: rgba(000,000,000,0.2);
}
.ul2_htitle {
	font-family: 'Kalam', cursive;
	color: #000;
	font-size: 26px;
	font-style: italic;
	font-weight: 1;
	padding-left: 11%;
}
.ul2_sub {
	font-size: 17px;
	padding-left: 11%;
	padding-right: 10%;
}
/*SECTION 2 */
.section1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.sec1_in {
	width: 100%;
	text-align: center;
}
.sec1_ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.ul3_item {
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../img/landscape.jpg")  center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: left;

}
.ul3_title {
	font-family: 'Fjalla One', sans-serif;
	color: #000;
	font-size: 46px;
	font-weight: 1;
	line-height: 0.5;
	padding: 8% 11% 3%;

}
.ul3_title:after {
	content: "";
	display: block;
	width: 157px;
	height: 1px;
	margin: 4% 3% 0 ;
	background-color: rgba(000,000,000,0.2);
}
.ul3_htitle {
	font-family: 'Kalam', cursive;
	color: #000;
	font-size: 26px;
	font-style: italic;
	font-weight: 1;
	padding-left: 11%;
}
.ul3_sub {
	font-size: 17px;
	padding-left: 11%;
	padding-right: 10%;
}
.ul4_item {
	width: 100%;
	height: 80vh;
	background: url("../img/about1.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
/*SECTION 3*/
.section2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.sec2_in {
	width: 100%;
	text-align: center;
}
.sec2_ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.back {
	width: 50%;
}
.ul5_item {
	width: 100%;
	height: 80vh;
	background: url("../img/ab.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.ul6_item {
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../img/landscape.jpg")  center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: left;

}
.ul6_title {
	font-family: 'Fjalla One', sans-serif;
	color: #000;
	font-size: 46px;
	font-weight: 1;
	line-height: 0.5;
	padding: 14% 11% 3%;

}
.ul6_title:after {
	content: "";
	display: block;
	width: 210px;
	height: 1px;
	margin: 4% 3% 0 ;
	background-color: rgba(000,000,000,0.2);
}
.ul6_htitle {
	font-family: 'Kalam', cursive;
	color: #000;
	font-size: 26px;
	font-style: italic;
	font-weight: 1;
	padding-left: 11%;
}
.ul6_sub {
	font-size: 17px;
	padding-left: 11%;
	padding-right: 10%;
}
/*SECTION 4*/
.section3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(255,255,255,1), rgba(180,180,180,0.6)) center no-repeat;
}
.sec3_in {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
}
.sec3_title {
	padding-top: 6%;
	font-family: 'Fjalla One', sans-serif;
	color: #000;
	font-size: 48px;
	font-weight: 100;
}
.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 7%;
}
.about_item {
	display: block;
	width: 33%;
}
.about_item img {
	
	max-height: 100px;
	width: auto;
}
.item_title {
	padding-top: 5%;
	font-family: 'Rozha One', serif;
	color: #000;
	font-size: 24px;
	font-weight: 100;

}
.item_sub {
	font-family: 'ABeeZee', sans-serif;
	color: #000;
	font-size: 15px;
	padding: 0 3% 0;
}
/*SECTION 5*/
.section4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(210,210,210,1), rgba(200,200,200,0)), url("../img/land1.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.sec4_in {
	width: 100%;
	margin: 0 auto 8%;
	text-align: center;
}
.sec4_title {
	font-family: 'Fjalla One', sans-serif;
	color: #fff;
	font-size: 24px;
	font-weight: 10;
	margin-top: 3%;
}
.sec4_sub {
	font-family: 'ABeeZee', sans-serif;
	color: #fff;
	font-size: 16px;
	padding: 0 22% 0;
}
.me {
	border-radius: 50%;
	max-width: 100%;
	display: inline-block;
}
/*Contact*/
.contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 3%;
}
.con_item {
	display: block;
	width: 33%;
}
.con_title {
	padding-top: 2%;
	font-family: 'ABeeZee', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 100;

}
.con_item img {
	max-height: 50px;
	width: auto;
}
/*_______________________*/
footer {
   padding: 20px 0 20px;
   background: rgba(231,231,231,0.9);
}
.foot {
   font-size: 16px;
   color: #000;
   text-align: center;
}
/*_______________________*/

@media (max-width: 700px){
	
	/*Burger*/
	body.lock {overflow: hidden;}
	.head{
		padding: 0;
	}
	.c_b {
		padding: 0;
		background-color: #fff;
	}
	.logo img{
		height: 80px;
	}
	.header_burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 1;
		
	}
	.header_burger span {	
		position: absolute;
		background-color: #000;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
		
	}
	.header_burger:before, 
	.header_burger:after{
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header_burger:before{
		top: 0;
	}
	.header_burger:after{
		bottom: 0;
	}
	.header_burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header_burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header_burger.active span{
		transform: scale(0);
		
	}
	.nav{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(231,231,231,231);
		z-index: -1;
		padding: 90px 0 0 0;
		transition: all 0.3s ease 0s;
	}
	
	.nav.active{
		top: 0;
	}
	
	.nav_link{
		display: block;
		margin: 10px 0 20px 0;
	}	
	
	
	/*history*/
	.back {
		width: 100%;
		}
	.sec_ul {flex-direction: column-reverse;}
	.sec2_ul {flex-direction: column-reverse;}
	.ul2_sub{
		margin: 0;
		padding-bottom: 6%;
	}
	.ul6_sub{
		margin: 0;
		padding-bottom: 6%;
	}
	/*SECTION 3*/
	.about {
		justify-content: center;
	}
	.sec3_title{
		font-size: 34px;
	}
	.about_item {
		width: 100%;
	}
	.about_item img {
		margin-top: 8%;
	}
	/*SECTION 4*/
	.sec4_sub{
		padding: 0 5% 0;
	}
	/*Contact*/
	.con_title {
		padding-bottom: 10%;
	}
	.con_item  {
		width: 100%;
	}
}


