@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
		margin: 0;
		font-family: 'ABeeZee', sans-serif;
	}

*,
*:before,
*:after {
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	color: #fff;
}
	
.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
	
}

/* Header*/
.head {
	width: 100%;
	padding-top: 5px ;
    padding-bottom: 5px ; 
	position: fixed;
	background-color: rgba(255,255,255,0.4);
	z-index: 1000;
}
.head_in {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*NAV*/
.nav{
	font-size: 20px;
}
.nav_link {
	display: inline-block;
	vertical-align: top;
	position: relative;
	color: #000;
	text-decoration: none;
	padding: 5px 15px ;
	-webkit-transition: 0.8s; /* плавний перехід */
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.nav_link:hover{
	background-color: rgba(0,0,0,0.2);
	color: rgba(255,255,255);
}
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 130vh;
	background: url("../img/intro.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.intro_in {
	width: 100%;
	max-width: 700px;
	margin: 0 auto 18%;
	text-align: center;
}
.intro_title {
	font-family: 'Rozha One', serif;
	color: #fff;
	font-size: 36px;
	font-weight: 10;
	line-height: 1;
}
/*btn theme*/
#onLight {
  padding: 5px 15px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
}
#onDark {
  display: none;
  padding: 5px 15px;
  background-color: rgba(0,0,0,0.9);
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}
/*Dark theme*/
.dark .head { 
background: rgba(0,0,0,0.4);
 }
.dark .nav_link {
	color: #fff;
}
.dark .intro{
	background: url("../img/andr.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
/*Button*/
.btn {
	font-family: 'ABeeZee', sans-serif;
	display:inline-block;
	vertical-align: top;
	padding: 10px 15px;
	margin-top: 5%;
	
	border: 1px solid #fff;
	background-color: rgba(255,255,255,0.1);
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}
.btn:hover {
	background-color: rgba(255,255,255);
	color: #000;
}
/*SECTION 1*/
.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 60vh;
	background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../img/landscape.jpg")  center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.sec_in {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}
.sec_title {
	font-family: 'Rozha One', serif;
	color: #000;
	font-size: 36px;
	font-weight: 100;
}
.sec_sub {
	font-family: 'ABeeZee', sans-serif;
	color: #000;
	font-size: 24px;
	font-style: italic;
}
.btn1 {
	font-family: 'ABeeZee', sans-serif;
	font-size: 18px;
	display:inline-block;
	vertical-align: top;
	padding: 10px 15px;
	margin-top: 5%;
	border: 1px solid #000;
	color: #000;
	text-decoration: none;
}
.btn1:hover {
	background-color: rgba(000,000,000);
	color: #fff;
}
/*SECTION 2*/
.section1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;

}
.sec1_in {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
}
.sec1_title {
	padding-top: 4%;
	font-family: 'Rozha One', serif;
	color: #000;
	font-size: 36px;
	font-weight: 100;
}
.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 7% 15px 0;
}
.about_item {
	display: block;
	width: 33.33333%;
}
.about_item img {
	max-height: 100px;
	width: auto;
}

.item_title {
	padding-top: 5%;
	font-family: 'Rozha One', serif;
	color: #000;
	font-size: 24px;
	font-weight: 100;
}
.item_sub {
	font-family: 'ABeeZee', sans-serif;
	color: #000;
	font-size: 15px;
	padding-bottom: 7%;
}
/*SECTION 3*/
.section2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 75vh;
	background: url("../img/main.jpg") bottom no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.sec2_in {
	width: 100%;
	margin: 0 auto 0;
	text-align: center;
	margin-bottom: 11%;
}
.sec2_title {
	font-family: 'Rozha One', serif;
	color: #fff;
	font-size: 34px;
	font-weight: 100;
}
.sec2_in img  {
	margin-top: 3%;
}
.sec2_in img:hover {
	opacity: 0.5;
}
/*SECTION 4*/
.section3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.sec3_in {
	text-align: center;
}
.sec_ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.back {
	display: block;
	width: 33.33%;
	position: relative;
}
.ul1_item { 
	width: 100%;
	height: 60vh;
	background: url("../img/ul1.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.ul1_item img  {
	opacity: 0;    
	position: absolute;               
    top: 50%; 	
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.ul1_item :hover {
	opacity: 1;
}
.ul2_item {
	width: 100%;
	height: 60vh;
	background: url("../img/ul2.jpg")  center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.ul2_item img  {
	opacity: 0;    

	position: absolute;               
    top: 50%; 	
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.ul2_item :hover {
	opacity: 1;
}
.ul3_item {
	width: 100%;
	height: 60vh;
	background: url("../img/ul3.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.ul3_item img  {
	opacity: 0;    
	position: absolute;               
    top: 50%; 	
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.ul3_item :hover {
	opacity: 1;
}

/*Slider*/
ol,
    ul,
    dl {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    /* стили основного контейнера слайдера */
    .slider {
      position: relative;
      max-width: cover;
	  height: 60vh;
	  background: rgba(231,231,231,0.9);
    }

    /* стили для обёртки, в которой заключены слайды */
    .slider__wrapper {
      position: relative;
      overflow: hidden;
    }

    /* стили для контейнера слайдов */
    .slider__items {
      display: flex;
      transition: transform 0.6s ease;
    }

    /* стили для слайдов */
    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    /* стили для кнопок "вперед" и "назад" */
    .slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
    }

    .slider__control_show {
      display: flex;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: 0.9;
    }

    .slider__control_prev {
      left: 0;
    }

    .slider__control_next {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_prev::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_next::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    /* стили для индикаторов */
    .slider__indicators {
      position: absolute;
      right: 0;
      bottom: 10px;
      left: 0;
      z-index: 15;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
    }

    .slider__indicators li {
      box-sizing: content-box;
      flex: 0 1 auto;
      width: 30px;
      height: 4px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: rgba(000, 000, 000, 0.7);
      background-clip: padding-box;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    .slider__indicators li.active {
      background-color: rgba(255, 255, 255);
    }

.slider__item_img img {
      display: inline-block;
      height: auto;
      max-width: 100%;
      border-radius: 50%;
    }


    .slider__item {
	  height: 260px;
      overflow: hidden;
      position: relative;
    }

    .slider__item_inner {
      position: absolute;
      left: 15%;
      right: 15%;
      top: 36px;
      bottom: 36px;
      overflow: hidden;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
	  height: 50vh;
    }

    .slider__item_img {
      flex: 0 0 150px;
      max-width: 150px;
    }

    .slider__item_testimonial {
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
      text-align: left;
	  margin-left: 15px;
    }
    .slider__item_name {
	  font-family: 'Rozha One', serif;
      font-size: 20px;
      margin-bottom: 8px;
      color: #000;
    }
    .slider__item_text {
	font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    color: #000;
	font-style: italic;
    }
	@media ( max-width: 700px) {
      .slider__item_img {
        flex: 0 0 100px;
        max-width: 100px;
      }
	  .slider__item_name {
		  font-size: 18px;
	  }
	  .slider__item_text {
		  font-size: 14px;
	  }
    }
	/*SECTION 5*/
.section4 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 80vh;
	background: url("../img/lost.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.sec4_in {
	width: 100%;
	max-width: 700px;
	margin: 3% auto 0;
	text-align: center;
}
.sec4_title {
	font-family: 'Rozha One', serif;
	color: #fff;
	font-size: 36px;
	font-weight: 10;
	line-height: 1;
}
.sec4_sub {
	font-family: 'ABeeZee', sans-serif;
	color: #fff;
	font-size: 24px;
}
/*SECTION 6*/
.section5 {
	display: flex;
	flex-direction: column;
	justify-content: center-top;
	width: 100%;
	height: 100%;
	background: rgba(231,231,231,0.9);
}
.sec5_in {
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
	margin-top: 4%;
}
.sec5_title {
	padding-top: 4%;
	font-family: 'Rozha One', serif;
	color: #000;
	font-size: 36px;
	font-weight: 100;
}
.sec5_sub {
	font-family: 'Itim', cursive;
	color: #000;
	font-size: 18px;
	line-height: 1.5;
}
/*Form*/
#form-main{
	width:100%;
}
.feedback-input {
	font-family: 'Itim', cursive;
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: rgba(0,0,0,0);
}

.feedback-input:focus{
	border: 2px solid #000;
	outline: none;
	padding: 13px 13px 13px 54px;
}
textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Itim', cursive;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #000;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #000;
}
@media only screen and (max-width: 580px) {
	#form-div{
		padding-left: 10%;
		padding-right: 10%;
	}
}

/*_______________________*/
footer {
   padding: 20px 0 20px;
   background: rgba(231,231,231,0.9);
}
.foot {
   font-size: 16px;
   color: #000;
   text-align: center;
}
/*_______________________*/


/*_______________________*/

@media (max-width: 700px){
	
	/*Burger*/
	body.lock {overflow: hidden;}
	.head{
		padding: 0;
	}
	.c_b {
		padding: 0;
		background-color: #fff;
	}
	.logo img{
		height: 80px;
	}
	.header_burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 1;
		
	}
	.header_burger span {	
		position: absolute;
		background-color: #000;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
		
	}
	.header_burger:before, 
	.header_burger:after{
		content: '';
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header_burger:before{
		top: 0;
	}
	.header_burger:after{
		bottom: 0;
	}
	.header_burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header_burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header_burger.active span{
		transform: scale(0);
		
	}
	.nav{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(231,231,231,231);
		z-index: -1;
		padding: 90px 0 0 0;
		transition: all 0.3s ease 0s;
	}
	
	.nav.active{
		top: 0;
	}
	
	.nav_link{
		display: block;
		margin: 10px 0 20px 0;
	}	
	
	/*Intro*/
	.intro_title{
		font-size: 27px;
	}
	/*SECTION*/
	.sec_title{
		font-size: 30px;
	}
	.sec_sub{
		font-size: 22px;
	}
	
	/*SECTION 1*/
	.sec1_title{
		font-size: 28px;
	}
	.about {
		justify-content: center;
	}
	.about_item {
		width: 100%;
		
	}
	/*SECTION 3*/
	.sec_ul {
		justify-content: center;
	}
	.back {
		width: 100%;
	}

}






